.about, h2, .center-text{
    text-align: center;
}

.list-container{
    text-align:center;
}

ul.main-list{
    text-align:left;
    display: inline-block;
}

table{
    width:100%;
}

.sidebar{
    width:15%;
    vertical-align: top;
    padding:1%;
}

.img-index {
    width:20%;
    text-align:center;
}

.img-project {
    width:20%;
}

.img-nav {
    width:100%;
}

.blinky-footer{
    width:11%;
}

.navbar, .top, .footer {
    text-align: center;
}

.main {
    border-left: 3px solid cyan;
}

.table{
    border-top: 3px solid cyan;
    padding-bottom:5%;
}

.sticky-socials{
    background-color: cyan;
    padding-top:0.5%;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:100;
}

.title-footer{
    margin:0
}

.oc-column{
    width:33%
}

.oc-references-form{
    height:0;
    margin-bottom: 0;
}

.oc-references-button{
    padding-bottom: 2px;
}

.oc-references-divider{
    margin: 3px 0px;
    border-bottom: 3px dashed blue;
}

.oc-sidebar-list{
    margin-top: 0%;
}

.oc-sidebar-title{
    margin-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gallery{
    height:100%
}

.gallery-tags{
    height:100%;
    width:33%;
    border-left:3px solid cyan;
    vertical-align: top;
}

.tags-gallery{
    position:sticky;
    top:0;
}

.gallery-pic{
    margin:.5%
}

.gallery-pic-container{
    height:15%;
}

.gallery-center-content {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: lightgrey;
}

.tag-button-pressed {
    background-color: lightgreen;
}

.gallery-pic-solo {
    max-width: 100%;
}